.ielts-container {
    width: 100%;
    /*background-color: #ffffff;*/
}
.container-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    margin-bottom: 20px;
}
.container-bottom{
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
}
.top-title{
    font-size: 18px;
    margin-bottom: 10px;
}
.top-freeClass {
    width: 100%;
}

.list-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.list-avatar{
    width: 80px;
    height: 80px;
}
.info-left{
    display: flex;
}


.list-desc{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
}
.desc-title{
    font-size: 16px;
}
.list-desc span:nth-child(2){
    font-size: 12px;
    color: rgb(157,157,157);
}
.ant-tag{
    font-size: 12px;
    height: 14px;
    line-height: 14px;
    color: rgb(157,157,157);
}
.list-desc span:nth-child(4){
    font-size: 16px;
    color: rgb(252,98,46);
}
.info-right{
    font-size: 14px;
    text-align: right;
    padding-top: 70px;
    color: rgb(157,157,157);
}

