.detail-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;

  .ant-tabs {
    width: 100%;

    .ant-tabs-nav {
      margin: 0;
    }

    .container-top {
      width: 100%;
      background-color: #ffffff;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .top-image {
        width: 100%;
      }

      .top-clickCount {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 5px 10px;

        div:first-child {
          color: rgb(253, 93, 82);
          font-size: 18px;
        }

        div:last-child {
          color: rgb(158, 166, 174);
          font-size: 10px;
        }
      }

      .top-title {
        display: flex;
        align-items: center;

        .ant-tag {
          display: flex;
          justify-content: center;
          background-color: rgb(254, 242, 244);
          color: rgb(253, 93, 82);
          width: 30px;
          height: 15px;
          line-height: 15px;
          font-size: 10px;
          margin-left: 10px;
        }

        div {
          padding: 5px 10px;
          font-size: 18px;
        }

      }

      .top-tags {
        padding: 5px 10px;

        .ant-tag {
          width: 80px;
          height: 20px;
          line-height: 20px;
          text-align: center;
        }

        .active {
          background-color: rgb(254, 242, 244);
          color: rgb(253, 93, 82);
          width: 80px;
          height: 20px;
          line-height: 20px;
          text-align: center;
        }
      }
    }

    .container-time {
      background-color: #ffffff;
      margin-top: 10px;
      height: 40px;
      line-height: 40px;
      text-align: left;
      padding: 0 10px;
      font-size: 12px;
    }

    .container-teacher {
      margin-top: 10px;
      background-color: #ffffff;
      text-align: left;
      padding: 0 10px;
      min-height: 150px;

      .teacher-title {
        font-size: 16px;
        padding:20px 0 10px;
      }

      .teacher-card {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .card-avatar {
          width: 50px;
          height: 50px;
        }

        .card-name {
          display: flex;
          flex-direction: column;

          span:last-child {
            font-size: 12px;
            color: rgb(176, 185, 192);
          }
        }

        div:last-child {
          color: rgb(176, 185, 192);
        }
      }
    }

    .container-class {
      margin-top: 10px;
      background-color: #ffffff;
      text-align: left;
      padding: 0 10px;
      min-height: 120px;

      .class-title {
        font-size: 16px;
        padding:20px 0 10px;
      }
    }

    .container-evaluate {
      margin-top: 10px;
      background-color: #ffffff;
      text-align: left;
      padding: 0 20px;
      min-height: 200px;

      .evaluate-title {
        font-size: 16px;
        padding:20px 0 10px;
      }
    }
  }
  .fixed-bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px; /* 底部内容的高度 */
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    .bottom-left{
      width: 5%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 40px;
      font-size: 14px;
    }
    .bottom-right{
      width: 95%;
      background-color: rgb(236,47,46);
      height: 40px;
      border: 0;
      border-radius: 5px;
      color: #ffffff;
    }
  }


}