*{
    margin: 0;
    padding: 0;
}
.topBar{
    height:60px;
    background-color: #fff;
    border: 0.5px #333 solid;
    box-shadow: 10px 0 15px #333;

}
.wrapper{
    width: 1200px;
    height: 60px;
    line-height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}
.wrapperLeft{
    width: 90%;
    display: flex;
    justify-content: space-around;
}
.headerLogo img{
    width: 90px;
    height: 58px;
}

.wrapper div a{
    color: #aaaaaa;
    text-decoration: none;
    font-size: 16px;
    font-family: YouYuan,  sans-serif;

}
.wrapperLeft div a.active{
    color: black;
}
.active{
    color: #0088cc;
    text-decoration: underline;
}
.ant-modal-content{
    width: 400px;
}
.ant-menu{
    width: 100%;
    display: flex;
    justify-content: space-around;
}