.mineContainer{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.containerTop{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.personalInfo{
    width: 95%;
    display: flex;
    text-align: start;
}
.nameContainer{
    text-align: start;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center
}
.otherInfo{
    font-size: 12px;
}
.otherInfo span:first-child{
    background-color: crimson;
    border-radius: 5px;
    margin-right: 10px;
    color: #ffffff;
}
.signIn{
    width: 95%;
    height: 60px;
    border-radius: 10px;
    background-color: #ffffff;
    padding-left: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0 10px 0;
}
/*.dividerStyle{*/
/*    min-width: 99% !important;*/
/*    margin:0 12px 12px 0;*/
/*}*/
.ant-divider-horizontal{
    min-width: 98% !important;
    margin-bottom: 0;
}
.signInDetail{
    display: flex;
    flex-direction: column
}
.countContainer{
    width: 95%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: start;
    border-radius: 10px;
    padding-left: 20px;
    margin-top: 10px;
}
.countInfo{
    width: 100%;
    display: flex;
    justify-content: space-between
}
.countInfo-per{
    height: 60px;
    line-height: 30px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: start
}
.wordContainer{
    width: 95%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: start;
    border-radius: 10px;
    padding-left: 20px;
    margin-top: 10px;
}
.wordInfo{
    height: 60px;
    line-height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.inputStyle{
    width: 60px;
    height: 40px;
    margin-right: 20px;
}