.video-container {
  width: 100%;
  background-color: #fff;

  .tabs-container {
    padding: 0 24px;
    width: 100%;
    background-color: #fff;

    .class-info {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      div:nth-child(1) {
        font-size: 20px;
        margin-bottom: 10px;
      }

      div:nth-child(2) {
        font-size: 12px;
        margin-bottom: 10px;
        color: rgb(76, 76, 76);
      }

      div:nth-child(3) {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }

      div:nth-child(3) span:first-child {
        font-size: 20px;
        color: rgb(254, 109, 63);
      }

      div:nth-child(3) span:last-child {
        font-size: 12px;
        color: rgb(143, 143, 143);
      }
    }

    .class-package {
      width: 100%;

      .package-name {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      .package-name div:first-child {
        font-size: 18px;
        font-weight: bold;
      }

      .package-price {
        display: flex;
        justify-content: flex-end;
      }

      .package-price .price-info {
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }

      .package-price .price-info div {
        height: 30px;
        line-height: 30px;
      }

      .package-price .price-info div:first-child span:first-child {
        font-size: 14px;
        color: black;
      }

      .package-price .price-info div:first-child span:last-child {
        font-size: 18px;
        color: rgb(254, 109, 63);
      }

      .package-price .price-info div:last-child {
        height: 20px;
        line-height: 20px;
        font-size: 14px;
        color: rgb(254, 109, 63);
      }

      .package-price Button {
        width: 100px;
        height: 40px;
        background-color: rgb(25, 197, 107);
        border-radius: 20px;
        color: #ffffff;
      }
    }

    .class-desc {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .container-teacher {
        margin-top: 10px;
        background-color: #ffffff;
        text-align: left;
        //padding: 0 10px;
        min-height: 150px;

        .teacher-title {
          font-size: 14px;
          padding: 20px 0 10px;
        }

        .teacher-card {
          width: 100%;
          display: flex;
          justify-content: space-around;
          align-items: center;

          .card-avatar {
            width: 50px;
            height: 50px;
          }

          .card-name {
            display: flex;
            flex-direction: column;

            span:last-child {
              font-size: 12px;
              color: rgb(176, 185, 192);
            }
          }

          div:last-child {
            color: rgb(176, 185, 192);
          }
        }
      }
    }


  }
}


.evaluate-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .info-member span:first-child {
    margin-right: 10px;
    font-size: 16px;
  }

  .info-member span:last-child {
    color: rgb(143, 143, 143);
    font-size: 12px;
  }

  .evaluate-content {
    margin-top: 10px;
    font-size: 14px;
  }
}
.fixed-bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px; /* 底部内容的高度 */
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  .bottom-left {
    width: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: 14px;
  }

  .bottom-right-isSubscribe {
    width: 95%;
    background-color: rgb(222, 222, 222);
    height: 40px;
    border: 0;
    border-radius: 5px;
    color: #ffffff;
  }
  .bottom-right {
    width: 95%;
    background-color: rgb(236, 47, 46);
    height: 40px;
    border: 0;
    border-radius: 5px;
    color: #ffffff;
  }
  .modal-container{
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.course-container{
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin-bottom: 20px;
  background-color: #fff;
  .container-left{
    display: block;
     width: 100%;
    .left-sort{
      width: 100%;
      font-size: 16px;
      margin-right: 5px;
    }
    .left-title{
      font-size: 16px;
    }
    .left-try{
      margin-left: 5px;
      background-color: #fff;
      color: rgb(70,115,254);
      text-align: center;
      border-radius: 10px;
      border: 1px solid rgb(70,115,254);
      font-size: 12px;
    }
    .left-item{
      width: 100%;
      margin-top: 10px;
      color: rgb(143, 143, 143);
      font-size: 12px;
      display: flex;
      justify-content: space-between;
      .item-try{
        width: 30px;
        height: 20px;
        background-color: rgb(70,115,254);
        color: #fff;
        text-align: center;
      }
    }
  }
}


