.video-container{
    width: 100%;
    background-color: #fff;
}
.tabs-container{
    padding: 0 24px;
    width: 100%;
    background-color: #fff;
}
.class-info{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}
.class-info div:nth-child(1){
    font-size: 20px;
    margin-bottom: 10px;
}
.class-info div:nth-child(2){
    font-size: 12px;
    margin-bottom: 10px;
    color: rgb(76,76,76);
}
.class-info div:nth-child(3){
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.class-info div:nth-child(3) span:first-child{
    font-size: 20px;
    color: rgb(254,109,63);
}
.class-info div:nth-child(3) span:last-child{
    font-size: 12px;
    color: rgb(143,143,143);
}
.class-package{
    width: 100%;
}
.package-name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.package-name div:first-child{
    font-size: 18px;
    font-weight: bold;
}
.package-price{
    display: flex;
    justify-content: flex-end;
}
.package-price .price-info{
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.package-price .price-info div{
    height: 30px;
    line-height: 30px;
}
.package-price .price-info div:first-child span:first-child{
    font-size: 14px;
    color: black;
}
.package-price .price-info div:first-child span:last-child{
    font-size: 18px;
    color: rgb(254,109,63);
}
.package-price .price-info div:last-child{
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    color: rgb(254,109,63);
}
.package-price Button{
    width: 100px;
    height: 40px;
    background-color: rgb(25,197,107);
    border-radius: 20px;
    color: #ffffff;
}